*~
*.txt
*.pyc
Production_Config
vertex-tuftscluster-scripts
*.log
*.err
*.caffemodel
\#*\#
test1
test2
a
b
c
d
e
f
g
absorbdata
*.root
*.dat
*.log
*.err
utils/test12_stage2
runtable/signal_noprecuts_submit.sh
runtable/signal_withprecuts_submit.sh
downstream